{% extends "layout.html" %}
{% block content %}
   <section class="gallery">
    <a href="{{ url_for('min_res') }}">
     <figure class="card" style="width: 47%;">
        <div class="feature">
             Полезные ископаемые
        </div>
    </figure>
    </a>
     <a href="{{ url_for('rock') }}">
    <figure class="card" style="width: 47%;">
        <div class="feature">
             Горные породы
        </div>
        </figure>
    </a>
    <a href="{{ url_for('method') }}">
    <figure class="card" style="width: 47%;">
        <div class="feature">
             Методы поиска
        </div>
    </figure>
    </a>
    <a href="{{ url_for('mineral') }}">
    <figure class="card" style="width: 47%;">
        <div class="feature">
             Минералы
        </div>
        </figure>
        </a>
      </section>



  <h2>Добро пожаловать в МарсГеоИнфо!</h2>
  <h3>Инструкции по работе с системой</h3>
  <section class="gallery">
      <figure class="card" style="width: 97%">
        <strong>Для поиска полезных ископаемых следует:</strong>
        <ol>
          <li>Зайти в раздел <strong>"Полезные ископаемые"</strong> в навигационном меню.</li>
          <li>Выбрать интересующее Вас полезное ископаемое.</li>
          <li>Полезные ископаемые присутствуют в определенных минералах и горных породах.<br/>
              Выберите горную породу содержащую полезное ископаемое в колонке <strong>"Горные породы"</strong>.</li>
          <li>Оказавшись в разделе <strong>"Горные породы"</strong>, изучите в колонке <strong>"Методика поиска"</strong> по каким геофизическим показателям следует искать данную горную породу на Марсе.</li>
       </ol>
 Узнав какие геофизические показатели имеет горная порода с интересующим Вас полезным ископаемым, Вы можете переходить к поиску! <br/>Помните, что залегающие рядом горные породы могут менять геофизические показатели искомой породы!<br/>
Для уточнения места перспективного залегания полезного ископаемого применяйте комплексирование геофизических методов. <strong>"Семь раз отмерь и один раз отрежь!"</strong>. Всегда лучше использовать дополнительные геофизические измерения для поиска, чем бурить "в слепую".

В главном навигационном меню вы можете перейти в разделы <strong>"Полезные ископаемые", "Горные породы", "Методы поиска"</strong> и <strong>"Минералы"</strong> для получения дополнительной информации о геологии Марса.<br/>

<strong>Успехов Вам в поисках и исследованиях недр Марса!</strong>
    </figure>

  </section>

{% endblock %}
