<!DOCTYPE html>
<html>
    <head>
        <title>Марс Гео Инфо</title>
        <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
    </head>

    <body>
        <div class="container">
            <header>
                    <img src="{{ url_for('static', filename='img/logo_black_back.png') }}">
                    <h1>Марс Гео Инфо</h1>
                </div>
             </header>


            {% block nav %}
            {% endblock%}



            {% block content %}
            {% endblock%}
        </div>

    </body>
</html>