{% extends "layout.html" %}


{% block nav %}
<section class="gallery">
    <a href="{{ url_for('home') }}">
    <figure class="card">
        <div class="feature">
             <<
        </div>
        </figure>
    </a>
    <a href="{{ url_for('method') }}">
    <figure class="card">
        <div class="feature">
             <
        </div>
        </figure>
    </a>
    <a href="{{ url_for('min_res') }}">
        <figure class="card">
            <div class="feature">
             Методы поиска
            </div>
        </figure>
    </a>
    <a href="{{ url_for('rock') }}">
        <figure class="card">
            <div class="feature">
             Горные породы
            </div>
        </figure>
    </a>

    <a href="{{ url_for('mineral') }}">
        <figure class="card">
            <div class="feature">
             Минералы
            </div>
        </figure>
    </a>
      </section>
{% endblock %}

{% block content %}
{% for method in method: %}
  <h2>Методы поиска</h2>
  <h3>{{method.name}}</h3>
  <section class="gallery">
      <figure class="card" style="width: 50%">
        <div class="feature">
       {{method.name}}
        </div>
        <figcaption class="caption">
         <img src= "{{ url_for('static', filename='img/') }}{{ method.pic }}"  width="200"  alt="{{method.name}}" title="{{method.name}}" border="1"/>
      {{method.description}}</figcaption>
        </figure>
     <figure class="card" style="width: 45%">
         <div class="feature">
       Горные породы
        </div>
        <figcaption class="caption">Основной метод для поиска следующих горных пород:<br/> <br/>{% for rocks in rocks: %} <a href="{{ url_for('rock_id', id=rocks.id) }}"><strong>{{rocks.name}}</strong></a><br/> {% endfor %}</figcaption>
    </figure>
  </section>
{% endfor %}
{% endblock %}


